.notify-icon {
	display: flex;
	justify-content: center;
	margin-top: 24px;

	svg {
		font-size: 50px;
	}
}


.fullscreenModal {
	color: #000000;
	background: white;

	.ctnButton {
		display: flex;
		align-items: center;
		font-weight: 500;

		.key {
			border: 1px solid #5c4949;
			padding: 6px;
			margin: 0 8px;
			font-weight: 500;

		}
	}
}

.modalContent {
	.subscription {
		input {
			height: 40px;
			width: 100%;
			flex: 1;
			padding: 0 8px;
			border-radius: 4px;
		}

		select {
			height: 40px;
			width: 100%;
			padding: 0 8px;
			border-radius: 4px;

		}

		button {
			height: 40px;
			cursor: pointer;
		}

		.updateSub {
			label {
				display: flex;
				gap: 8px;
				align-items: center;

				span {
					display: inline-block;
					min-width: 60px;

				}
			}

			.save {
				width: 70%;
				margin: 0 auto;
				margin-top: 16px;
			}
		}
	}

	.userConfig {
		display: flex;
		flex-direction: column;
		gap: 8px;
		padding: 24px;

		input {
			height: 40px;
			width: 100%;
			flex: 1;
			padding: 0 8px;
			border-radius: 4px;
		}

		select {
			height: 40px;
			width: 100%;
			padding: 0 8px;
			border-radius: 4px;

		}

		button {
			height: 40px;
			cursor: pointer;
		}

		label {
			display: flex;
			gap: 8px;
			align-items: center;

			span {
				display: inline-block;
				min-width: 60px;

			}
		}
	}

	.showQa {
		position: relative;

		.continueBtn {

			position: absolute;
			top: -14px;
			right: 32px;

			display: flex;
			gap: 8px;
			align-items: center;
			border-radius: 99px;

			font-size: 13px;
			padding: 6px 24px;
			background-color: #17E558;
			color: black;
		}

		.backBtn {

			display: flex;
			gap: 8px;
			align-items: center;
			border-radius: 99px;

			font-size: 13px;
			padding: 6px 24px;
			background-color: #8e8150;
			color: black;

		}
	}

	.serversInfo {

		max-width: 1000px;
		padding: 60px 80px;
		background-color: black;
		border-radius: 20px;

		.title {
			text-align: center;
			margin-bottom: 1.6rem;
			text-transform: uppercase;
		}

		.wrapperTable {
			color: white;

			border-radius: 12px;
			border: 1px solid var(--Neutral-500, #667085);
			overflow: hidden;

			&:first-child {
				border-bottom: 1px solid var(--Neutral-500, #667085);
			}

			.rowContent {
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				border-top: 1px solid var(--Neutral-500, #667085);
				font-size: 16px;
				min-height: 60px;

				background-color: #002447;

				.columnContent {
					min-width: 200px;
					text-align: center;
					font-weight: 500;
					line-height: 24px;
					font-size: var(--font-size-md);
					padding: 1rem;
					border-left: 1px solid #667085;
					display: flex;
					justify-content: center;
					align-items: center;

					&:nth-child(1) {
						text-align: left;
						justify-content: flex-start;
						text-align: start;
						display: flex;
						align-items: center;
						font-size: var(--font-size-md);
						font-style: normal;
						font-weight: 700;
						line-height: 24px;
						border-left: unset;
						padding-left: 1.6rem;

						/* 150% */
					}

				}
			}
		}

		.ctnCloseBtn {
			position: absolute;
			top: 16px;
			right: 14px;

			.icon {
				font-size: 2rem;
			}
		}
	}
}



@media (max-width: 1024px) {


	.modalContent {

		.serversInfo {

			max-width: 480px;
			padding: 30px 40px;
			background-color: black;
			border-radius: 10px;

			.title {
				text-align: center;
				margin-bottom: 1rem;
				text-transform: uppercase;

				font-size: 16px;
			}

			.wrapperTable {
				color: white;

				border-radius: 6px;
				border: 1px solid var(--Neutral-500, #667085);
				overflow: hidden;

				&:first-child {
					border-bottom: 1px solid var(--Neutral-500, #667085);
				}

				.rowContent {
					display: grid;
					grid-template-columns: repeat(3, 1fr);
					border-top: 1px solid var(--Neutral-500, #667085);
					font-size: 12px;
					min-height: 40px;

					background-color: #002447;

					.columnContent {
						min-width: 88px;
						text-align: center;
						font-weight: 500;
						padding: 0.5rem 0.25rem;
						line-height: normal;
						font-size: 10px;

						&:nth-child(1) {
							padding-left: 0.86rem;
							font-size: 10px;
							/* 150% */
						}

					}
				}
			}

			.ctnCloseBtn {
				position: absolute;
				top: 0px;
				right: 0px;

				.icon {
					font-size: 1.5rem;
				}
			}
		}
	}
}