.virtKeyBoard {
	position: fixed;
	z-index: 6;

	bottom: 0;
	left: 0;
	right: 0;
	transition: all ease-in-out 0.5s;
	transform: translateY(100%);

	&.slide-in {
		transform: translateY(0%)
	}

	&.slide-out {
		transform: translateY(100%)
	}


	.hg-theme-default {
		background-color: rgb(28 28 28 / 70%);
	}



	.hg-standardBtn {
		background-color: rgba(0, 0, 0, 0.8);
		color: white;
		border-bottom: 0rem;
		box-shadow: none;

		height: 2.5rem;

		font-size: 0.9rem;

		&[data-skbtn='Space'] {
			width: 10rem;
		}

		&[data-skbtn='Backspace'] {
			width: 4rem;
		}

		&[data-skbtn='Shift'] {
			width: 3rem;
		}

		&[data-skbtn='Enter'] {
			width: 4rem;
		}

		&[data-skbtn='Alt'] {
			width: 3rem;
		}

		&[data-skbtn='Control'] {
			width: 4rem;
		}

		&[data-skbtn=''] {
			background-color: #ececec00;
		}

		+.hg-activeButton {
			background-color: rgba(0, 0, 0, 0.5);

		}
	}
}