.listQAs {
	--bg1: #dae2f2;
	--bg2: #e6edf8;
	--bg3: #fbfbfb;
	--bg4: rgb(0 0 0 / 5%);
	--sliderThumbClr: white;
	--padding: 1.25rem;

	position: absolute;
	right: 12px;
	width: 376px;

	padding: 4px 24px;
	border-radius: 0.5rem;
	color: var(--dark-txt);
	background: var(--bg1);
	//overflow: hidden;
	transition: cubic-bezier(0.62, 0, 0.32, 1) 250ms;
	z-index: 9999;
	transform: translateX(0);

	display: flex;
	flex-direction: column;

	&[data-align="center"] {
		bottom: 56px;
	}

	&[data-align="left"] {
		top: 56px;
	}

	&[data-hide="true"] {
		transform: translateX(200%);
		animation: overflow-hider 0s ease-in-out 150ms forwards;
		transition: all cubic-bezier(0.62, 0, 0.32, 1) 150ms;
	}



	.question {
		font-size: 16px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;

		padding: 16px 0px;
		border-bottom: 1px solid;
		cursor: pointer;

		&:hover {
			text-decoration: underline;
			opacity: 0.8;
		}

		&:last-child {
			border-bottom: none;

		}
	}

}


body[data-theme="dark"] .listQAs {
	--bg1: #1c1c1c;
	--bg2: #242424;
	--bg3: #313131;
	--bg4: rgb(255 255 255 / 3%);
	--sliderThumbClr: #454545;

	&.bd-blur {
		--bg1: rgb(36 36 36 / 85%);
		--bg2: rgb(255 255 255 / 3.33%);
	}

	.uicon {
		filter: invert(1);
	}
}